@{
  Layout = "_Layout";
}

<h2>Add a new engineer</h2>

@model Factory.Models.Engineer

@using (Html.BeginForm())
{
  @Html.Label("Engineer Name: ")
  @Html.TextBoxFor(model => model.EngineerName, new { type = "text", required="required" })
<hr />
  @Html.Label("Hire Date: ")
  @Html.TextBoxFor(model => model.HireDate, new { type = "date", required="required" })
<hr />
  @Html.Label("Available Machines: ")
  @Html.DropDownList("MachineId")
<hr />
  <input type="submit" value="Add Engineer" class="btn btn-default" />
}

<p>@Html.ActionLink("Return Home", "Index", "Home")</p>