@{
  Layout = "_Layout";
}

<h2>Add a new machine</h2>

@model Factory.Models.Machine

@using (Html.BeginForm())
{
  @Html.Label("Machine Name: ")
  @Html.TextBoxFor(model => model.MachineName)
  <hr />
  @Html.Label("Machine Product: ")
  @Html.TextBoxFor(model => model.MachineProduct)
  <hr />
  <input type="submit" value="Add Machine" class="btn btn-default"/>
}

<p>@Html.ActionLink("Return Home", "Index", "Home")</p>